* {
    margin: 0;
    padding: 0;
}
.container {
    height: 500px;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 40px;
}
.piece {
    flex-basis: 32px;
    background-color: white;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.colorPicker {
    border: none;
    height: 50px;
    width: 80px;
    background: none;
}

